.buttons__buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__buttons--hiddenButtons {
    display: none;
}

.buttons__button {
    background-color: transparent;
    color: teal;
    border: none;
    margin: 0 0 0 20px;
    outline: none;
    transition: color .5s ease-out;
    cursor: pointer;
}

.buttons__button:hover {
    color: rgb(0, 180, 180)
}

.buttons__button:disabled {
    color: rgb(189, 189, 189);
}

@media(max-width:767px) {
    .buttons__buttons {
        flex-wrap: wrap;
    }
    .buttons__button {
        flex-basis: 100%;
        margin: 10px 0;
    }
}